
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --index: calc(1vw + 1vh);
    --font_size_h1:calc(var(--index)*5);
    --font_size_h2:calc(var(--index)*2);
}


@font-face {
    font-family: 'Outfit-Black-m';
    src: url(./fonts/fonts_h1/Outfit-Bold.ttf);
}

@font-face{
    font-family: 'Prata-Regular-m';
    src: url(./fonts/fonts_h2/Lora-Regular.ttf);
}

@font-face{
    font-family: 'Manrope-ExtraLight';
    src: url(./fonts/fonts_h2/Manrope-ExtraLight.ttf);
}
@font-face{
    font-family: 'Manrope-Light';
    src: url(./fonts/fonts_h2/Manrope-Light.ttf);
}
@font-face{
    font-family: 'Manrope-Regular';
    src: url(./fonts/fonts_h2/Manrope-Regular.ttf);
}

.header{
    width: 100vw;
    height: 100vh;
    background: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.black_box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
}

.head_title{
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

h1{
    font-family: Outfit-Black-m;
    font-size: var(--font_size_h1);
    color: white;
}
h3{
    font-family: Manrope-ExtraLight;
    color: white;
    font-size: .85em;
}